canvas {
  width: 100%;
}

.bgimg1 {
  background-image: url("../../resources/imgs/starry-overlay.png");
}

.bgimg2 {
  background-image: url("../../resources/imgs/monet-overlay.png");
}

.bgimg3 {
  background-image: url("../../resources/imgs/picasso-overlay.png");
}

.parallax {
  border-radius: 50px;
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;
}

#heading {
  width: 50%;
  text-align: center;
  margin-top: 100px;
}

#mainNav {
  transition: all 500ms;
}

.hidden {
  opacity: 0;
}